body {
    background-image: url('https://miro.medium.com/v2/resize:fit:1600/1*D-aEC7jvoWARTgCSWZ_7VQ.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
}
