body {
    background-image: url('https://miro.medium.com/v2/resize:fit:958/1*L_43ik1_Rz_9ZwUQUfi94w.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
}
